// Styling for the services section
.service-heading {
  margin: 15px 0;
  text-transform: none;
}

.features {
  margin-bottom: 20px;
}

.collectors {
  margin-bottom: 30px;
}

.logo {
  text-align: center;

  img {
    height: 50px;
  }
}